<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for using Remote Bitcoin Jobs</h1>
    <p>
    You have successfully created a job listing. To verify your email and activate the listing, visit this link in your browser: <a href="http://remotebitcoinjobs.com/jobs/<%= @job.id %>">JOB</a>
    </p>

    <p>Thank you, and have a great day! /Martin</p>
  </body>
</html>
