<h2>Categories</h2>
<ul>
  <%# TODO: Make some global array of approved tags %>
  <% WHITELISTED_TAGS.each do |tag| %>
    <li>
    <%= link_to tag.titlecase, tag_path(tag) %>
    </li>
  <% end %>
</ul>

<div class="row">
  <% WHITELISTED_TAGS.each do |tag| %>
    <div class="large-3 columns debug">
      <%= link_to tag.titlecase + " Jobs", tag_path(tag) %>
    </div>
  <% end %>
</div>

