<h2>Categories</h2>
<ul>
  <li><a href="/categories/programming">Programming Jobs</a></li>
  <li><a href="/categories/design">Design Jobs</a></li>
  <li><a href="/categories/copywriting">Copywriting Jobs</a></li>

</ul>

<!--
<% if ActsAsTaggableOn::Tag.count > 0 %>
  <h3>All tags (This is only for debugging - I think this should not be in the final version</h3>
  <ul>
    <% @tags.each do |tag|%>
      <li>
        <%# TODO this should be a link_to() %>
        <a href="/categories/<%= tag.name %>"><%= tag.name.titlecase %> Jobs</a>
      </li>
    <% end %>
  </ul>
<% end %>
-->
