@import "foundation_and_overrides";
header.application-head {
  text-align: center;
  height: 200px;
  .logo {
    display: inline-block;
    height: 150px;
    width: 150px;
  }
  h1 {
    font-size: 23px;
    color: $primary-color;
  }
  border-bottom: 1px solid lighten(lightGrey, 10%);
}
