@import "foundation_and_overrides";
a.back-link {
  // < Back to Categories, etc
  position: relative;
  top: 5px;
  size: 1.7em;
  border: 1px solid $primary-color; // Foundation default #mainColor
  border-radius: $global-radius;
  padding: 5px;
  margin: 15px;

  &:active {
    border: 1px solid rgba(43, 166, 203, 0.8);
    color: rgba(43, 166, 203, 0.8)
  }
}
ul.job-list {
  .highlight {
    background-color: rgba(255, 255, 150, 1);
  }

  li {
    list-style-type: none;
    min-height: 3em;
    padding-left: 3em;
    padding-right: 1em;
    margin-bottom: 3px;
    background-color: #f2f2f2;

    a {
      text-decoration: none;
      display: block;
      width: 100%;
      height: 100%;
      color: #888;

      line-height: 3em;
    }
    .job-title {
      color: #888;
    }
    .job-company_name {
      color: #333;
      font-size: 1.1em;
      margin-right: 1em;
    }
    .job-headquarters {
      color: #888;
    }
    .date {
      float:right;
      vertical-align: center;
      // font-size: 1.3em;
      color: #333;
    }

    .new-job-flair {
      background-color: tomato;
      position: absolute;
      padding: 0.2em;
      vertical-align: middle;
      margin-top: 6px;
      left: 1px;
      border-radius: 1px;

      color: white;

      cursor: default;
    }
  }
}

.ad-box {
  margin: 0px;
  padding: 20px;
  background-color: #eef4f4;

  .job-description: {
    padding-top: 50px;
  }
  .company-information {
    border-bottom: 1px solid lightGrey;
  }

  .title {
    display: inline;
    font-size: 2em;
  }
  .date {
    display: inline;
  }
  h3.company-name h4.headquarters{
    display: inline;
    background-color: tomato;
  }
  img.logo {
    // overflow: auto;
    // zoom: 1;
  }
}
